@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    display: inline-flex;
    justify-content: space-between;
align-items: center;
margin:2rem 6rem;
margin-left: 6rem;
}
.icemLogo{
width: 10%;
}
.icemLogo img{
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    margin: 0 2rem;
    font-size: 1.7rem;
}
nav ul button{
    color: #6255A5;
    border: none;
    border-radius: 0.5rem;
    background-color: #6255A5;
    padding: 1.5rem 4rem;
    margin: 0 2rem;
}

/* Content1 */
.content1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4rem;
}

.quotes h2{
font-size: 55px;
color: #413960;
font-family: 'Montserrat', sans-serif;
}
.quotes h3{
    color: #85D1A0;
    font-size: 55px;
    font-family: 'Montserrat', sans-serif;
}
.quotes p{
    font-size: 1.4rem;
}
.search{
    display: flex;
}
.search input{
    padding: 1rem 4rem;
    border-radius: 1rem;
}
.search button{
   background-color: #6255A5;
   color: white;
   border: none;
   position: relative;
   left: -20px;
 border-radius:0.7rem ;  
display: flex;
align-items: center;
padding: 1rem 4rem;
}

.bearImg{
    width: 45%;
}
.bearImg img{
    width: 80%;
}