@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
align-items: center;
margin:2rem 6rem;
margin-right: 9rem;

}
.icemLogo{
width: 100%;
}
.icemLogo img{
    width: 35%;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    margin: 0 1.5rem;
    font-size: 1.4rem;
}
nav ul button{
    color: #6255A5;
    border: none;
    border-radius: 0.5rem;
    background-color: #6255A5;
    padding: 1rem 3rem;
    margin: 0 1rem;
    margin-right: 1rem;
}
nav ul img{
    width: 7%;
}

/* Content1 */
.content1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 6rem;
margin-top: 4rem;
margin-right: 4rem;
}

.quotes h2{
font-size: 55px;
color: #413960;
font-family: 'Montserrat', sans-serif;
}
.quotes h3{
    color: #85D1A0;
    font-size: 55px;
    font-family: 'Montserrat', sans-serif;
}
.quotes p{
    font-size: 1.4rem;
margin-bottom: 1rem;
}
.search{
    display: flex;
}
.search input{
    padding: .5rem 4rem;
    border-radius: 1rem;
}
.search input::selection {
    border-radius: 1rem;
}
.search button{
   background-color: #6255A5;
   color: white;
   border: none;
   position: relative;
   left: -20px;
 border-radius:0.7rem ;  
display: flex;
align-items: center;
padding: .5rem 2rem;
font-size: 1.4rem;
}

.bearImg{
    width: 50%;
}
.bearImg img{
    width: 100%;
}

.points{
    display: flex;
    align-items: center;
margin-bottom: 1rem;
}
.point1{
    border-bottom: 5px solid #FEAB81;
border-radius:.3rem;
}
.point2{
    border-bottom: 5px solid #6255A5;
    border-radius:.3rem;}
.point3{
    border-bottom: 5px solid #85D1A0;
    border-radius:.3rem;}


.points h2{
    color: #574D6F;
    font-size: 2rem;
    margin-right: 1rem;
    
}
.points  h4{
    color: #696281;
    font-size: 1.5rem;

}

